main {
  z-index: 800;
  margin-top: 0;
  position: relative;
  max-width: 100%;
  color: #323a45;
}

.title {
  font-weight: 600;
}

.main-container {
  max-width: 100%;
  z-index: 900;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 101px;
}

@media (min-width: 900px) {
  .main-container {
    max-width: 1200px;
    padding-top: 117px;
  }
}

.main-container .card-section {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 900px) {
  .main-container .card-section {
    flex-direction: row;
  }
}

.main-container .row {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  column-gap: 1rem;
}

@media (min-width: 900px) {
  .main-container .row {
    flex-direction: row;
  }
}
