@import "./../Abstracts/variables";
@import "./../Abstracts/functions";
@import "./../Abstracts/mixins";

body {
  background-color: color("primary-alt-lightest");
  color: color("gray-dark");
  overflow-y: auto;
}

main {
  margin-top: 82px;

  @include desktop {
    margin-top: 127px;
  }
}

.section-title {
  font-weight: 600;
  color: color("secondary-darkest");
}
