@import "./../Abstracts/variables";
@import "./../Abstracts/functions";
@import "./../Abstracts/mixins";

body {
  background-color: color("primary-alt-lightest");
  color: color("gray-dark");
}

main {
  margin-top: 82px;

  @include desktop {
    margin-top: 127px;
  }
}
