@import "./../Abstracts/variables";
@import "./../Abstracts/functions";
@import "./../Abstracts/mixins";

.loader-container {
  width: 100%;
  @include flexbox();
  @include flex-wrap(wrap);
  @include justify-content(center);
  margin-top: 2rem;
  margin-bottom: 7rem;
}

.loader {
  margin: auto;
  border: 20px solid color("secondary-light");
  border-radius: 50%;
  border-top: 20px solid color("secondary");
  width: 200px;
  height: 200px;
  animation: spinner 4s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
