@import "./../Abstracts/variables";
@import "./../Abstracts/functions";
@import "./../Abstracts/mixins";

main {
  z-index: 800;
  margin-top: 0;
  position: relative;
  max-width: 100%;
  color: color("gray-dark");
}

.title {
  font-weight: 600;
}

.main-container {
  max-width: 100%;
  z-index: 900;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 101px;

  @include tablet {
    max-width: 1200px;
    padding-top: 117px;
  }

  .card-section {
    max-width: 100%;
    @include flexbox();
    @include flex-wrap(wrap);
    @include flex-direction(column);
    @include justify-content(space-between);

    @include tablet {
      @include flex-direction(row);
    }
  }

  .row {
    max-width: 100%;
    @include flexbox();
    @include flex-wrap(wrap);
    @include flex-direction(column);
    @include justify-content(center);
    column-gap: 1rem;

    @include tablet {
      @include flex-direction(row);
    }
  }
}
